     
<div class="row">
    {{#each artists}}
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/artists/{{id}}">
                    <img src="{{imageUrl}}" class="">
                        <div class="caption">
                        <p>{{artistName}}</p>
                    </div>
                </a>
            </div>
        </div>
    {{/each}}
</div>

  