.navbar {
    margin: 20px;
}

a {
    font-size: 20px;
}


.page-header {
    font-size: 40px;
    margin: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

form {
    margin: 40px 40px 100px 40px;
}

h3 {
    margin: 0;
}

button {
    margin: 40px 0 0 0;
}

.row {
    margin: 40px;
}

.footer {
    text-align: center;
}

.caption {
    text-align: center;
}