
<form class="new-form" action="/artists/new" method="POST">
    <div class="form-group row">
        <label for="text-input" class="col-2 col-form-label">Artist/Band Name</label>
            <div class="col-10">
                <input class="form-control" type="text" value="" name="artistName">
            </div>
    </div>
    <div class="form-group row">
        <label for="text-input" class="col-2 col-form-label">Artist/Band Description</label>
            <div class="col-10">
                <textarea class="form-control" rows="3" type="text" value="" name="description"></textarea>
            </div>
    </div>
    <div class="form-group row">
        <label for="picture-url-input" class="col-2 col-form-label">Photo</label>
            <div class="col-10">
                <input class="form-control" type="url" name="imageUrl" value="insert a url to an artist photo"> 
        </div>
    <button type="submit" class="btn btn-default">Submit</button>
</div>
</form>

