<div class="form-container">

    <h2>
        {{artists.artistName}}
    </h2>
    
    <p>
        {{artists.description}}
    </p>

    

        <form class="comment-form" action="/artists/{{artists.id}}" method="post">
            <div class="comment-form-item">
                <h4 class="comment-form-title">Author:</h4>
                <input type="text" name="author" value="">
            </div>
            <div class="comment-form-item">
                <h4 class="comment-form-title">Comment:</h4>
                <textarea name="comment" rows="8" cols="40"></textarea>
            </div>
            <div class="comment-form-item">
                <button type="submit" name="submit">Submit</button>
            </div>
        </form>
<div class="comment-container"> 
    {{#each artists.comments}}
        <p>
            {{this.comment}}
        </p>
    {{/each}}
</div>
</div>

